In [2]:
import pandas as pd

In [19]:
df = pd.read_csv('player_stats_9_2024-2025_2025-04-05 18_09_11.934649.csv')

In [25]:
df.loc[0, 'Player']

"updated_at=datetime.datetime(2025, 4, 4, 15, 47, 15, 221482) based_country_id=None birth_year='2000' avatar_url=None created_at=datetime.datetime(2025, 4, 4, 15, 47, 15, 221482) name='Max Aarons' id=UUID('580acb8a-16be-4f6c-96d0-418082d96bf1') fbref_id='774cf58b' player_url='/en/players/774cf58b/Max-Aarons'"

In [32]:
row_dict = { 'player_name': 'abc', 'competition_name': 'premier_league', 'team_name': 'Arsenal', 'season': '2024-2025' }

In [33]:
data_dict = {'xg': 0.02, 'ab': 0.02}
data_dict2 = {'xg/90': 0.02, 'aab': 0.02}

In [34]:
row_dict = { **row_dict, **data_dict }

In [36]:
row_dict = { **row_dict, **data_dict2 }

In [37]:
row_dict

{'player_name': 'abc',
 'competition_name': 'premier_league',
 'team_name': 'Arsenal',
 'season': '2024-2025',
 'xg': 0.02,
 'ab': 0.02,
 'xg/90': 0.02,
 'aab': 0.02}

In [40]:
adf = pd.DataFrame([row_dict])

In [42]:
data_dict3 = { 'xT': 0.2, 'xA': 0.23, 'npXg': 0.4 }

In [45]:
adf[adf['player_name'] == 'abc']

  player_name competition_name team_name     season    xg    ab  xg/90   aab
0         abc   premier_league   Arsenal  2024-2025  0.02  0.02   0.02  0.02